@charset "UTF-8";

body{
    color: rgb(252, 248, 16);
    background-color: rgba(56, 85, 232, 0.747);
    font-family:sans-serif;
}

footer{
    background-color: rgb(25, 227, 11);
    text-align: center;
    border: 1px solid rgb(237, 177, 214);
	background-color: #f0f278;
	color: #356fc0;
	padding-top: 10px;
	padding-bottom: 12px;
}

.subhead{
    background-color: rgb(126, 126, 142);
    color: white;
}

p{
    font-size: 90%;
}

h1{
    font-size: 180%;
}

h2{
    font-size: 120%;
}

article{
    border: 3px solid rgba(219, 88, 242, 0.902);
    padding: 20px;
    margin: 30px;
}

.logo{
    width: 150px;
}

.photo{
    width: 300px;
}

img{
    display: block;
    margin: 10px auto;
}

ul{
	list-style-type: none;
	padding-left: 0;
}

li {
	border: 1px solid rgb(255, 127, 208);
}

p{
	font-size: 90%;
	line-height: 1.8;
}

ul{
	list-style-type: none;
	padding-left: 0;
	line-height: 1.8;
	font-size: 90%;
}

ul time{
	background-color: #b012dc;
	color: #5ef33cf9;
	border-radius: 10px;
	font-size: 90%;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
}

nav ul{
    list-style:none;
    padding:0;
}

nav li{
    display:inline;
    font-weight:bold;
    padding:0 10px;
}

.logo{
    float:left;
	width:150px;
	height:auto;
}

@media (max-width:959px){

    .logo{
        float:none;
    }

}

article{
    clear:both;
}

photo{
    height:300px;
	max-width:100%;
    height:auto;
}

body{
    background: linear-gradient(to bottom, #5b2c83, #f7d547);
}

.moon li{
    list-style-image: url("../images/moon.png");
}

.point-img{
    box-shadow: 0 0 10px 3px #aaa;
    border-radius: 15px;
}

article{
    width: 900px;
    margin: auto;
}

section{
    background-color: rgba(18, 77, 145, 0.8);
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

.point{
    background: linear-gradient(to bottom, #5b2c83, #f7d547);
}

.point-img{
    box-shadow: 0 0 10px 3px #aaa;
    border-radius: 15px;
}

.point-img{
    float:right;
    margin-left:10px;
    margin-bottom:10px;
}

.breadcrumb{
    margin: 10px;
    font-size: 14px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:link{
    color: blue;
}

a:visited{
    color: purple;
}

a:hover{
    color: gold;
}

a:active{
    color: red;
}

.point-img{
    width: 250px;
    height: auto;
    box-shadow: 0 0 10px 3px #aaa;
    margin-top: -20px;   /* 上に20px移動 */
}